html,body{
  height:100%;
}

body{
  position: absolute;
  height: :100%;
  width: 100%;
  text-align: center;
  margin: 0;
  background-color: #E6FFFF
}

/* 화면 전환 */
/* 화면 전환 끝 */

/* 버튼 애니메이션 */
body:before{
  height:100%;
  display:inline-block;
  vertical-align:middle;
}
button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.3em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}

button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}



/*버튼 애니메이션 끝 */

.welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
